<?xml version="1.0" encoding="UTF-8"?>
<configuration>	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%-5level] #%line (%d{HH:mm:ss}\) %logger{30} [%thread] - %msg%n</pattern>
		</encoder>
	</appender>
  <!-- hiberante logger -->
	<logger name="org.hibernate" level="OFF"/>
	<logger name="org.apache.openejb" level="OFF"/>
	<logger name="org.glassfish" level="OFF"/>
	<logger name="org.hibernate.SQL" level="OFF"/>
	<logger name="org.hibernate.type" level="OFF"/>
	<logger name="org.hibernate.hql.ast.AST" level="OFF"/>
	<logger name="org.hibernate.tool.hbm2ddl" level="OFF"/>
	<logger name="org.hibernate.hql" level="OFF"/>
	<logger name="org.hibernate.cache" level="OFF"/>
	<logger name="org.hibernate.jdbc" level="OFF"/>
	
	<!-- pgalise loggers -->
	<logger name="de.pgalise.simulation.traffic" level="INFO"/>
	<logger name="de.pgalise.simulation.traffic.service" level="INFO"/>
	<!--<logger name="de.pgalise.simulation.traffic.internal.server.jam" level="INFO"/>-->
	<logger name="de.pgalise.simulation.traffic.route" level="DEBUG"/>
<!--	<logger name="de.pgalise.simulation.traffic.internal.server.sensor" level="DEBUG"/>
	<logger name="de.pgalise.simulation.traffic.internal.model.vehicle" level="INFO"/>
	 <logger name="de.pgalise.simulation.traffic.internal.model.vehicle.BaseVehicle" level="DEBUG"/>  
	<logger name="de.pgalise.simulation.traffic.internal.model.vehicle.DefaultCar" level="DEBUG"/>
	<logger name="de.pgalise.simulation.traffic.internal.server.scheduler.SortedListScheduler" level="INFO"/>
	<logger name="de.pgalise.simulation.traffic.internal.server.scheduler.ListScheduler" level="INFO"/>
	<logger name="de.pgalise.simulation.traffic.internal.server.scheduler.TreeSetScheduler" level="INFO"/>-->

	<root level="OFF">
		<appender-ref ref="CONSOLE" />
	</root>	
</configuration>