<?xml version="1.0" encoding="UTF-8"?>
<configuration>	
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level] #%line (%d{HH:mm:ss}\) %logger{30} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="de.pgalise.simulation.traffic.internal.server.jam" level="INFO"/>
	<logger name="de.pgalise.simulation.traffic.server.route" level="INFO"/>
	<logger name="de.pgalise.simulation.traffic.internal.server.sensor" level="DEBUG"/>
	<logger name="de.pgalise.simulation.traffic.internal.model.vehicle" level="INFO"/>
	<!-- <logger name="de.pgalise.simulation.traffic.internal.model.vehicle.BaseVehicle" level="DEBUG"/>  -->
	<logger name="de.pgalise.simulation.traffic.internal.model.vehicle.DefaultCar" level="DEBUG"/>
	<logger name="de.pgalise.simulation.traffic.internal.server.scheduler.SortedListScheduler" level="INFO"/>
	<logger name="de.pgalise.simulation.traffic.internal.server.scheduler.ListScheduler" level="INFO"/>
<logger name="de.pgalise.simulation.traffic.internal.server.scheduler.TreeSetScheduler" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>	
</configuration>