<!-- CITY (INIT) -->
<div class="contentDiv" ng-controller="CityCtrl">
	<h2>City</h2>
	<div class="block">
		<table class="noWrap">
		    <tr class="head">
		        <td colspan="2"><h3>Parameters</h3></td>
		    </tr>
            <tr>
                <td colspan="2">
                    <div help>
                       Choose the individual parameters of the City, for example the name, the altitude or if the city is close to a river or near to a coast.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input class="normalWidth" type="text" title="set city name" ng-model="startParameter.city.name"/>
                </td>
            </tr>
			<tr>
				<td>Altitude [m]:</td>
				<td>
    				<input class="normalWidth" type="number" title="Altitude of the city" ng-model="altitude" min="-10" max="40" id="cityAltitude"/>
				    <div class="normalWidth" slider ng-model="altitude" min="-10" max="40" bound-spinner-id="cityAltitude"></div>
				</td>
			</tr>
			<tr>
				<td>Near river:</td>
				<td>
    				<div>
    					<input type="radio" ng-value="true" ng-model="startParameter.city.nearRiver" title="determine wheter the simulated city is (not) located near a river"/>on
    					<input type="radio" ng-value="false" ng-model="startParameter.city.nearRiver" title="determine wheter the simulated city is (not) located near a river"/>off
    				</div>
				</td>
			</tr>
			<tr>
				<td>Near coast:</td>
				<td>
    				<div>
    					<input type="radio" ng-value="true" ng-model="startParameter.city.nearSea" title="determine wheter the simulated city is (not) located near the coast"/>on
                        <input type="radio" ng-value="false" ng-model="startParameter.city.nearSea" title="determine wheter the simulated city is (not) located near the coast"/>off
                    </div>
                </td>
			</tr>
		</table>
	</div>
	<div class="block">
	    <table class="noWrap">
	        <tr class="head">
	            <td colspan="2"><h3>Individuals</h3></td>
	        </tr>
            <tr>
                <td colspan="2">
                    <div help>
                        Choose the individual parameters of the city. You can decide how many people, cars, busses, motorcycles and bikes are in the simulation. As well you can stock up the different types of vehicles with GPS sensor.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Population:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the number cities inhabitants" ng-model="population" min="0" max="1000000000"/>
                </td>
            </tr>
            <tr>
                <td>Random Cars:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the initial car amount of the simulation" ng-model="randomCars" min="0" max="100000"/>
                </td>
            </tr>
            <tr>
                <td>GPS Ratio (Cars) [%]:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the cars initial GPS Ratio of the simulation" ng-model="randomCarGPSRatio" id="cityCarGpsRatio" min="0" max="100" />
                    <div class="normalWidth" slider ng-model="randomCarGPSRatio" min="0" max="100" bound-spinner-id="cityCarGpsRatio"></div>
                </td>
            </tr>
            <tr>
                <td>Random Trucks:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the initial truck amount of the simulation" ng-model="randomTrucks" min="0" max="100000"/>
                </td>
            </tr>
            <tr>
                <td>GPS Ratio (Trucks) [%]:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the trucks initial GPS Ratio of the simulation" ng-model="randomTruckGPSRatio" id="cityTruckGpsRatio" min="0" max="100" />
                    <div class="normalWidth" slider ng-model="randomTruckGPSRatio" min="0" max="100" bound-spinner-id="cityTruckGpsRatio"></div>
                </td>
            </tr>
            <tr>
                <td>Random Motorcycles:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the initial motorcycle amount of the simulation" ng-model="randomMotorcycles" min="0" max="100000"/>
                </td>
            </tr>
            <tr>
                <td>GPS Ratio (Motorcycles) [%]:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the motorcycles initial GPS Ratio of the simulation" ng-model="randomMotorcycleGPSRatio" id="cityMotorcycleGpsRatio" min="0" max="100" />
                    <div class="normalWidth" slider ng-model="randomMotorcycleGPSRatio" min="0" max="100" bound-spinner-id="cityMotorcycleGpsRatio"></div>
                </td>
            </tr>
            <tr>
                <td>Random Bikes:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the initial bike amount of the simulation" ng-model="randomBikes" min="0" max="100000"/>
                </td>
            </tr>
            <tr>
                <td>GPS Ratio (Bikes) [%]:</td>
                <td>
                    <input class="normalWidth" type="number" title="set the bikes initial GPS Ratio of the simulation" ng-model="randomBikeGPSRatio" id="cityBikeGpsRatio" min="0" max="100" />
                    <div class="normalWidth" slider ng-model="randomBikeGPSRatio" min="0" max="100" bound-spinner-id="cityBikeGpsRatio"></div>
                </td>
            </tr>
	    </table>
	</div>
</div>