<!-- GENERAL (INIT) -->
<div class="contentDiv" ng-controller="GeneralCtrl">
    <h2>General</h2>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td><h3>Start</h3></td>
            </tr>
            <tr>
                <td>
                <div>
                    Choose a date where the simulation has to start.
                </div>
                </td>
            </tr>
            <tr>
                <td><div type="text" datepicker ng-model="start" title="set the simulation's start date" id="generalStartDate"></div>
                    <hr />
                    <b>{{startParameter.startTimestamp | date:'dd.MM.yyyy'}}</b> -
                <input class="tinyWidth" type="number" id="generalStartHour" ng-model="startHours" min="0" max="23" size="2" />
                :
                <input class="tinyWidth" type="number" id="generalStartMinute" ng-model="startMinutes" min="0" max="59" size="2" />
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td><h3>End</h3></td>
            </tr>
            <tr>
                <td>
                    <div>
                        Choose a date of expiration.
                    </div>
                </td>
            </tr>
            <tr>
                <td><div type="text" datepicker ng-model="end" title="set the simulation's end date" id="generalEndDate"></div>
                    <hr />
                    <b>{{startParameter.endTimestamp | date:'dd.MM.yyyy'}}</b> -
                <input class="tinyWidth" type="number" id="generalEndHour" ng-model="endHours" min="0" max="23" size="2" />
                :
                <input class="tinyWidth" type="number" id="generalEndMinute" ng-model="endMinutes" min="0" max="59" size="2" />
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="2"><h3>Simulation time</h3></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        Set the time interval and the steps when the simulation will be updated. As well you can choose if there are any kind of interferer in the simulation or not.
                    </div>
                </td>
            </tr>
            <tr title="set the simulation's clock">
                <td>Clock [ms]:</td>
                <td>
                    <input class="smallWidth" type="number" ng-model="clockGeneratorInterval" min="0" max="60000" id="generalClockSpinner"/>
                    <div class="smallWidth" slider ng-model="clockGeneratorInterval" bound-spinner-id="generalClockSpinner" min="0" max="60000"></div>
                </td>
            </tr>
            <tr title="set the simulationstep's timeinterval">
                <td>Intervall [ms]:</td>
                <td>
                    <input class="smallWidth" type="number" ng-model="interval" min="1000" max="60000" id="generalIntervalSpinner"/>
                    <div class="smallWidth" slider ng-model="interval" bound-spinner-id="generalIntervalSpinner"  min="1000" max="60000"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="2"><h3>Sensor settings</h3></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        Set the time interval and the steps when the simulation will be updated. As well you can choose if there are any kind of interferer in the simulation or not.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Interferer enabled:</td>
                <td>
                    <div>
                        <input type="radio" ng-value="true" ng-model="startParameter.withSensorInterferes" />on
                        <input type="radio" ng-value="false" ng-model="startParameter.withSensorInterferes" />off
                    </div>
                </td>
            </tr>
            <tr title="set the intervall for sensors to send data">
                <td>General Update steps:</td>
                <td>
                    <input class="smallWidth" type="number" ng-model="sensorUpdateSteps" min="1" max="10" />
                </td>
            </tr>
            <tr ng-repeat="(typeId, specificUpdateStep) in startParameter.specificUpdateSteps" ng-show="isOwnProperty(typeId, startParameter.specificUpdateSteps)">
                <td>.. for {{specificUpdateStep.name}}</td>
                <td>
                    <input class="smallWidth" type="number" ng-model="specificUpdateStep.value" min="1" max="10" />
                </td>
            </tr>
        </table>
    </div>
</div>