<!-- INFRASTRUCTURE (INIT) -->
<div class="contentDiv" ng-controller="InfrastructureCtrl">
    <h2>Infrastructure</h2>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="2"><h3>Controllers</h3></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div help>
                        The controller needs the IP address where the Simulation, Weather and Traffic Controller are.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Simulation Controller:</td>
                <td>
                    <input class="normalWidth" type="text" title="enter the simulation controller ip" ng-model="startParameter.ipSimulationController"/>
                </td>
            </tr>
            <tr>
                <td>Traffic Controller:</td>
                <td>
                    <input class="normalWidth" type="text" title="enter the traffic controller ip" ng-model="startParameter.ipTrafficController"/>
                </td>
            </tr>
            <tr>
                <td>Weather Controller:</td>
                <td>
                    <input class="normalWidth" type="text" title="enter the weather controller ip" ng-model="startParameter.ipWeatherController"/>
                </td>
            </tr>
            <tr>
                <td>Static Sensor Controller:</td>
                <td>
                    <input class="normalWidth" type="text" title="enter the sensor controller ip" ng-model="startParameter.ipStaticSensorController"/>
                </td>
            </tr>
            <tr>
                <td>Energy Controller:</td>
                <td>
                    <input class="normalWidth" type="text" title="enter the energy controller ip" ng-model="startParameter.ipEnergyController"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="2">
                    <h3>Traffic Servers</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div help>
                        Decide how much Traffic Servers will be used in the Simulation.
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <nobr>
                        <input button type="button" title="add traffic server" value="+ add" ng-click="addTrafficServer()" />
                        <input button type="button" title="remove traffic server" value="- remove" ng-click="removeTrafficServer()" /></h3>
                    </nobr>
                </td>
            </tr>
            <tr ng-repeat="(id, trafficServerURL) in startParameter.trafficServerIPList" id="trafficServers">
                <td>Traffic Server {{id+1}}:</td>
                <td>
                    <input class="normalWidth" type="text" ng-model="trafficServerURL" ng-change="changedTrafficServerURL(id,trafficServerURL)" />
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="2">
                    <h3>User Interfaces</h3> 
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div help>
                        This defines the adresses of the user interfaces.
                    </div>
                </td>
            </tr>
            <tr>
                <td>Operation Center:</td>
                <td>
                    <input class="longWidth" type="text" ng-model="startParameter.operationCenterAddress"/>
                </td>
            </tr>
            <tr>
                <td>Control Center:</td>
                <td>
                    <input class="longWidth" type="text" ng-model="startParameter.controlCenterAddress"/>
                </td>
            </tr>
        </table>
    </div>
</div>