/* Author: Dennis Höting */

/* General */
body {
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #111;
	overflow-x: auto;
	overflow-y: scroll;
}

div#div_all {
	background-image: url(../img/bg_hor3.png);
	background-repeat: repeat-y;
	background-position: right;
}

/* Scroll bars */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #8ECD89;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background-color: #9EDD99;
}

/* Head */
div#layout_top {
	height: 25px;
	background-image: url(../img/bg_top.png);
	border-bottom: 1px solid black;
	width: 100%;
	-webkit-box-shadow: 5px 5px 50px #000;
	-moz-box-shadow: 5px 5px 50px #000;
	box-shadow: 5px 5px 50px #000;
	z-index: 20;
	color: white;
	font-weight: bolder;
	font-size: 10px;
	vertical-align: middle;
	padding-top: 7px;
}

div#layout_top>span {
	position: relative;
	left: 100px;
	border-left: 1px solid white;
	padding-left: 5px;
	padding-right: 5px;
}

div#loadingArea {
	height: 8px;
}

div#loadingArea.notLoading {
	background-image: url(../img/notloading.gif);
}

div#loadingArea.loading {
	background-image: url(../img/loading.gif);
}

div#div_top {
	height: 150px;
}

img#wrenchImg {
	position: absolute;
	right: 37px;
	top: 2px;
	cursor: pointer;
}

img#consoleImg {
	position: absolute;
	right: 7px;
	top: 2px;
	cursor: pointer;
}

#div_logo {
	float: left;
	width: 200px;
	height: 100px;
}

#div_heading {
	height: 100px;
	margin-top: 20px;
}

div#runtimePopups {
	text-align: right;
	padding-right: 20px;
	display: none; /* tmp?! */
}

div#headline {
	line-height: 1.0;
	letter-spacing: 5px;
	color: #333;
	font-size: 40px;
	font-weight: bold;
	font-family: "Copperplate Gothic Bold";
}

/* Navigation */
#div_navigation {
	clear: left;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	width: 150px;
	padding: 10px;
}

/* Content */
#div_content {
	border: 1px solid black;
	overflow-x: hidden;
	height: 100px;
	background-image: url(../img/contentBG.png);
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.block {
	display: block;
	float: left;
	/*border: 1px dashed black;*/
	margin: 5px;
}

div.block tr {
	background-image: url(../img/contentBGLight.png);
}

div.block tr.head {
	background-image: url(../img/contentBGLighter.png);
}

div.block tr.head>td {
	padding-left: 20px;
	padding-right: 20px;
}

td.top {
	vertical-align: top;
}

.contentDiv {
	margin: 20px;
}

div#icon_div {
	visibility: hidden;
	z-index: 1250;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
}

/* Map */
div#div_map {
	display: none;
	float: right;
}

div#map {
	padding: 0;
}

h3.help {
	font-size: 12px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Links */
a:link,a:active,a:visited {
	color: #585;
}

a:hover {
	color: #181;
}

/* Elipsis overflow */
.crop {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100px;
}

/* Suppress wra� */
.noWrap {
	white-space: nowrap;
}

/* Colors */
.red {
	color: #FF0000;
}

.green {
	color: #9EDD99;
}

.orange {
	color: #FFB68E;
}

.invalid {
	color: red;
}

.validation-false {
	color: red;
}

.validation-true {
	color: green;
}

/* Orientations */
div.left {
	text-align: left;
	float: left;
}

div.right {
	text-align: right;
}

div.centered {
	text-align: center;
}

/* Diverse */
.invisible {
	display: none;
}

.scrollable {
	overflow: auto;
}

/* Sizes */
.fullWidth {
	width: 100%;
}

.halfWidth {
	width: 50%;
}

.fullHeight {
	height: 100%;
}

.largeWidth {
	width: 300px;
}

.longWidth {
	width: 200px;
}

.normalWidth {
	width: 150px;
}

.smallWidth {
	width: 75px;
}

.tinyWidth {
	width: 50px;
}

.veryTinyWidth {
	width: 33px;
}

/* x */
.deleteImage {
	background-image: url(../img/delete.png);
	height: 15px;
	width: 15px;
	background-repeat: no-repeat;
	cursor: default;
}

/* scrollable eventlist */
#eventList {
	height: 330px;
	width: 400px;
}

#connectionStateColor {
	
}

#simulationStateColor {
	
}

#osmParsedStateColor {
	
}