<!-- COMMIT (RUNTIME) -->
<div class="contentDiv" ng-controller="CommitCtrl">
	<h2>Commit</h2>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="3"><h3>Unsent message list</h3></td>
            </tr>
            <tr ng-repeat="(i, message) in unsentMessages">
                <td>{{i}}</td>
                <td class="fullWidth">
                    <div object-view ng-model="message"></div>
                </td>
                <td><div class="deleteImage" ng-click="deleteMessage(i)"></div></td>
            </tr>
        </table>
    </div>
	<div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="3"><h3>Unsent event list</h3></td>
            </tr>
            <tr ng-repeat="(i, event) in uncommittedEvents">
                <td>{{i}}</td>
                <td class="fullWidth">
                    <div object-view ng-model="event"></div>
                </td>
                <td><div class="deleteImage" ng-click="deleteEvent(i)"></div></td>
            </tr>
            <tr ng-repeat="(i, event) in uncommittedWeatherEvents">
                <td>{{i}}</td>
                <td class="fullWidth">
                    <div object-view ng-model="event"></div>
                </td>
                <td><div class="deleteImage" ng-click="deleteWeatherEvent(i)"></div></td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td class="validation-{{validationStack.length<1}}"><h3>Validation Stack ({{validationStack.length}})</h3></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        Shows the results of the validation.
                    </div>
                </td>
            </tr>
            <tr ng-hide="validationStack.length>0">
                <td><i>Everything's fine. Go ahead ...</i></td>
            </tr>
            <tr ng-repeat="(i,msg) in validationStack">
                <td>
                    {{i + ': ' + msg}}
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table>
            <tr class="head">
                <td><h3>Send messages</h3></td>
            </tr>
            <tr>
                <td>
                    <input class="fullWidth" type="button" button value="Send now" ng-click="send()" ng-disabled="unsentMessages.length<1 || validationStack.length>0" />
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td><h3>Commit events</h3></td>
            </tr>
            <tr>
                <td>
                    <div datepicker id="commitDate" ng-model="chosenTimeDate" type="text"></div>
                </td>
            </tr><tr>
                <td>
                        {{eventCommitData.datetime | date:'dd.MM.yyyy'}} -
                    <input type="number" class="tinyWidth" ng-model="chosenTimeHours" min="0" max="23" />
                    :
                    <input type="number" class="tinyWidth" ng-model="chosenTimeMinutes" min="0" max="59" />
                </td>
            </tr>
            <tr>
                <td>
                    <input class="fullWidth" type="button" button value="Commit now" ng-click="commit()" ng-disabled="(uncommittedEvents.length + uncommittedWeatherEvents.length)<1 || validationStack.length>0" />
                </td>
            </tr>
        </table>
    </div>
</div>