<!-- WEATHER (RUNTIME) -->
<div class="contentDiv" ng-controller="OverviewCtrl">
    <h2>Sent message overview</h2>
	<div class="block">
		<table class="noWrap">
            <tr class="head">
                <td colspan="2"><h3>Sent messages</h3></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div help>
                        Get an overview of the sent messages.
                    </div>
                </td>
            </tr>
            
            <tr ng-repeat="(timestamp, messageEntry) in sentMessages">
                <td>{{timestamp|date:'dd.MM.yyyy @ H:mm:ss'}}</td>
                <td class="fullWidth" ng-init="shown=false">
                    <div class="left">
                        <button button ng-hide="shown" ng-click="shown=true">Show</button>
                        <button button ng-show="shown" ng-click="shown=false">Hide</button>
                        {{messageEntry.message.messageType}}
                    </div>
                    <div object-view  ng-show="shown" ng-model="messageEntry"></div>
                </td>
            </tr>
		</table>
	</div>
</div>
