<!-- RANDOM VEHICLES (RUNTIME) -->
<div class="contentDiv" ng-controller="RandomVehiclesCtrl">
	<h2>Random Vehicles</h2>
	<div class="block">
	    <table class="noWrap">
	        <tr class="head">
	            <td colspan="2"><h3>Add random cars</h3></td>
	        </tr>
            <tr>
                <td>Random Cars:</td>
                <td>
                    <input class="smallWidth" type="number" title="set the initial car amount of the simulation" ng-model="randomCars" min="0" max="100000"/>
                </td>
            </tr>
            <tr>
                <td>GPS Ratio (Cars) [%]:</td>
                <td>
                    <input class="smallWidth" type="number" title="set the cars initial GPS Ratio of the simulation" ng-model="randomCarGPSRatio" min="0" max="100" id="randomVehiclesCars" />
                    <div class="smallWidth" slider ng-model="randomCarGPSRatio" min="0" max="100" bound-spinner-id="randomVehiclesCars"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" button class="fullWidth" value="Add cars" ng-click="applyCars(randomCars, randomCarGPSRatio)" ng-disabled="randomCars<1" />
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="2"><h3>Add random trucks</h3></td>
            </tr>
            <tr>
                <td>Random Trucks:</td>
                <td>
                    <input class="smallWidth" type="number" title="set the initial truck amount of the simulation" ng-model="randomTrucks" min="0" max="1000"/>
               </td>
            </tr>
            <tr>
                <td>GPS Ratio (Trucks) [%]:</td>
                <td>
                    <input class="smallWidth" type="number" title="set the trucks initial GPS Ratio of the simulation" ng-model="randomTruckGPSRatio" min="0" max="100" id="randomVehiclesTrucks" />
                    <div class="smallWidth" slider ng-model="randomTruckGPSRatio" min="0" max="100" bound-spinner-id="randomVehiclesTrucks"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" button class="fullWidth" value="Add trucks" ng-click="applyTrucks(randomTrucks, randomTruckGPSRatio)" ng-disabled="randomTrucks<1" />
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="2"><h3>Add random motorcycles</h3></td>
            </tr>
            <tr>
                <td>Random Motorcycles:</td>
                <td>
                    <input class="smallWidth" type="number" title="set the initial motorcycle amount of the simulation" ng-model="randomMotorcycles" min="0" max="10000"/>
               </td>
            </tr>
            <tr>
                <td>GPS Ratio (Motorcycles) [%]:</td>
                <td>
                    <input class="smallWidth" type="number" title="set the motorcycles initial GPS Ratio of the simulation" ng-model="randomMotorcycleGPSRatio" min="0" max="100" id="randomVehiclesMotorcycles" />
                    <div class="smallWidth" slider ng-model="randomMotorcycleGPSRatio" min="0" max="100" bound-spinner-id="randomVehiclesMotorcycles"></div>
               </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" button class="fullWidth" value="Add motorcycles" ng-click="applyMotorcycles(randomMotorcycles, randomMotorcycleGPSRatio)" ng-disabled="randomMotorcycles<1" />
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="2"><h3>Add random bikes</h3></td>
            </tr>
            <tr>
                <td>Random Bikes:</td>
                <td>
                    <input class="smallWidth" type="number" title="set the initial bike amount of the simulation" ng-model="randomBikes" min="0" max="100000"/>
                </td>
            </tr>
            <tr>
                <td>GPS Ratio (Bikes) [%]:</td>
                <td>
                    <input class="smallWidth" type="number" title="set the bikes initial GPS Ratio of the simulation" ng-model="randomBikeGPSRatio" min="0" max="100" id="randomVehiclesBikes" />
                    <div class="smallWidth" slider ng-model="randomBikeGPSRatio" min="0" max="100" bound-spinner-id="randomVehiclesBikes"></div>
               </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" button class="fullWidth" value="Add bikes" ng-click="applyBikes(randomBikes, randomBikeGPSRatio)" ng-disabled="randomBikes<1" />
                </td>
            </tr>
	    </table>
	</div>
</div>