<!-- WEATHER (RUNTIME) -->
<div class="contentDiv" ng-controller="WeatherEventsCtrl">
    <h2>Weather</h2>
	<div class="block">
		<table class="noWrap">
            <tr class="head">
                <td colspan="2"><h3>Define new weather event</h3></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div help>
                        Choose a special weather event for a defined day. You can set the max. temperature, the modifier and the time where this event will start. 
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div datepicker ng-model="chosenTimeDate" type="text" class="weatherEventDate"></div>
                    <hr />
                        {{currentWeatherEventViewData.datetime | date:'dd.MM.yyyy'}} -
                    <input type="number" class="veryTinyWidth" ng-model="chosenTimeHours" min="0" max="23" />
                    :
                    <input type="number" class="veryTinyWidth" ng-model="chosenTimeMinutes" min="0" max="59" />
                </td>
            </tr>
            <tr>
                <td>Duration <i>[hh:mm]</i>:</td>
                <td>
                    <input type="number" class="veryTinyWidth" ng-model="durationHours" min="0" max="11" />
                    :
                    <input type="number" class="veryTinyWidth" ng-model="durationMinutes" min="0" max="59" />
                </td>
            </tr>
            <tr>
                <td>Modifier:</td>
                <td>
                  <select class="smallWidth" ng-model="currentWeatherEventViewData.decorator" ng-options="d.name for d in weatherEvents"></select>
                </td>
            </tr>
            <tr>
                <td>
                    Value <i>[{{currentWeatherEventViewData.decorator.valueName}}]</i>:
                </td>
                <td><input class="smallWidth" ng-model="currentWeatherEventViewData.value" type="number" min="{{currentWeatherEventViewData.decorator.min}}" max="{{currentWeatherEventViewData.decorator.max}}" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input button type="button" class="fullWidth" value="Add event" ng-click="applyEvent()" />
                </td>
            </tr>
		</table>
	</div>
    <div class="block">
        <table class="noWrap">
            <tr class="head">
                <td colspan="5"><h3>Defined weather events</h3></td>
            </tr>
            <tr>
                <td colspan="5">
                    <div help>
                        Shows a list of created weather events.
                    </div>
                </td>
            </tr>
            <tr ng-hide="currentWeatherEventViewData.events.length<1">
                <th>Date/Time</th>
                <th>Duration</th>
                <th>Modifier</th>
                <th>Value</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="5" ng-show="uncommittedWeatherEvents.length<1">
                    <i>No weather events defined yet.</i>
                </td>
            </tr>
            <tr ng-repeat="(id, weatherEvent) in uncommittedWeatherEvents">
                <td>{{weatherEvent.timestamp | date:'dd.MM.yyyy @ H:mm:ss'}}</td>
                <td>{{weatherEvent.duration.toFixed(2)}}</td>
                <td>{{weatherEvent.event}}</td>
                <td>{{weatherEvent.value.toFixed(2)}}</td>
                <td><div class="deleteImage" ng-click="deleteWeatherEvent(id)"></div></td>
            </tr>
        </table>
    </div>
</div>
