<nav class="sideBar" ng-controller="InitNavCtrl">
	<input button type="button" class="fullWidth" value="General" title="enter the general circumstances for the simulation" ng-click="navigate(GENERAL)" ng-disabled="current==GENERAL"/>
	<input button type="button" class="fullWidth" value="Infrastructure" title="enter the infrastructural settings" ng-click="navigate(INFRASTRUCTURE)" ng-disabled="current==INFRASTRUCTURE"/>
    <input button type="button" class="fullWidth" value="City" title="enter the cities attributes for the simulation" ng-click="navigate(CITY)" ng-disabled="current==CITY"/>
    <input button type="button" class="fullWidth" value="Bus system" title="Define bus system" ng-click="navigate(BUSSYSTEM)" ng-disabled="current==BUSSYSTEM"/>
	<input button type="button" class="fullWidth" value="Weather" title="enter the weather attributes for the simulation" ng-click="navigate(WEATHER)" ng-disabled="current==WEATHER"/>
	<input button type="button" class="fullWidth" value="Sensors" title="adjust the sensors for the simulation" ng-click="navigate(SENSORS)" ng-disabled="current==SENSORS"/>
	<input button type="button" class="fullWidth" value="Interaction" title="Define sensor interaction" ng-click="navigate(INTERACTION)" ng-disabled="current==INTERACTION"/>
	<input button type="button" class="fullWidth" value="Start" title="start the simulation" ng-click="navigate(START)" ng-disabled="current==START"/>
</nav>