<table id="detailTable" class="fullWidth noWrap">
    <tr class="wrap">
        <td><b>ID:</b></td>
        <td colspan="2">{{sensorInDetail.id}}</td>
    </tr>
    <tr>
        <td><b>Symbol:</b></td>
        <td colspan="2"><img src="img/weather_station.png" height="20" /></td>
    </tr>
    <tr>
        <td><b>Position:</b></td>
        <td>[{{sensorInDetail.latitude.toFixed(6) + ', ' + sensorInDetail.longitude.toFixed(6)}}]</td>
    </tr>
    <tr>
        <td><b>Receipt interval:</b></td>
        <td>{{sensorInDetail.updateSteps * simulationInfo.initParameter.interval}} ms</td>
    </tr>
    <tr>
        <td><b>Last data receipt:</b></td>
        <td>{{sensorInDetail.lastChange | date:'MM/dd/yyyy @ h:mm:ssa'}}</td>
    </tr>
    <tr>
        <td><b>Status:</b></td>
        <td>
            <span ng-show="sensorInDetail.isActive" class="green">Active</span>
            <span ng-hide="sensorInDetail.isActive" class="red">Inactive</span>
        </td>
    </tr>
    <tr>
        <td><b>Sensor:</b></td>
        <td><b>Value:</b></td>
    </tr>
    <tr ng-repeat="sensor in sensorInDetail.subSensors">
        <td><b>{{'&nbsp;' + sensor.name}}</b></td>
        <td>{{sensor.getValue().toFixed(3) + ' ' + getUnit(sensor.type)}}</td>
    </tr>
</table>