<div ng-controller="AttractionDialogCtrl">
    <div class="left">
        <table>
            <tr>
                <td colspan="3" class="top"><b>Event-ID:</b></td>
            </tr><tr>
                <td colspan="3" class="top">{{attraction.id}}</td>
            </tr>
            <tr>
                <td class="top"><b>Position:</b></td>
                <td class="top" colspan="2">[{{attraction.latitude.toFixed(6)}}, {{attraction.longitude.toFixed(6)}}]</td>
            </tr>
            <tr>
                <td><b>Start:</b></td>
                <td colspan="2">{{attraction.startTimestamp|date:'dd.MM.yyyy @ H:mm:ss'}}</td>
            </tr>
            <tr>
                <td><b>End:</b></td>   
                <td colspan="2">{{(attraction.startTimestamp+attraction.durationMillis)|date:'dd.MM.yyyy @ H:mm:ss'}}</td>
            </tr>
            <tr>
                <td colspan="3"><hr /></td>
            </tr>
            <tr>
                <td><b>Visitors:</b></td>
                <td><b>Amount:</b></td>
                <td><b>GPS Ratio [%]:</b></td>
            </tr>
            <tr>
                <td class="top"><img src="img/car.png" height="20" /> Cars:</td>
                <td>
                    <input class="smallWidth" type="number" ng-model="attraction.randomCars" min="0" max="100000"/>
                </td>
                <td>
                    <input class="tinyWidth" type="number" ng-model="attraction.randomCarGPSRatio" id="attractionCarGpsRatio" min="0" max="100" />
                </td>
            </tr>
            <tr>
                <td class="top"><img src="img/truck.png" height="20" /> Trucks:</td>
                <td>
                    <input class="smallWidth" type="number" ng-model="attraction.randomTrucks" min="0" max="100000"/>
                </td>
                <td>
                    <input class="tinyWidth" type="number" ng-model="attraction.randomTruckGPSRatio" id="attractionTruckGpsRatio" min="0" max="100" />
                </td>
            </tr>
            <tr>
                <td class="top"><img src="img/motorcycle.png" height="20" /> Motorcycles:</td>
                <td>
                    <input class="smallWidth" type="number" ng-model="attraction.randomMotorcycles" min="0" max="100000"/>
                </td>
                <td>
                    <input class="tinyWidth" type="number" ng-model="attraction.randomMotorcycleGPSRatio" id="attractionMotorcycleGpsRatio" min="0" max="100" />
                </td>
            </tr>
            <tr>
                <td class="top"><img src="img/bike.png" height="20" /> Bikes:</td>
                <td>
                    <input class="smallWidth" type="number" ng-model="attraction.randomBikes" min="0" max="100000"/>
                </td>
                <td>
                    <input class="tinyWidth" type="number" ng-model="attraction.randomBikeGPSRatio" id="attractionBikeGpsRatio" min="0" max="100" />
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td colspan="2">
                    <b>Start:</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div datepicker ng-model="attraction.startDate" type="text" class="start"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><b>Time:</b>&nbsp;
                    <input class="tinyWidth" type="number" ng-model="attraction.startHours" min="0" max="23" />&nbsp;h&nbsp;:&nbsp;
                    <input class="tinyWidth" type="number" ng-model="attraction.startMinutes" min="0" max="59" />&nbsp;m
                </td>
            </tr>
            <tr>
                <td><b>Duration:</b></td>
                <td>
                    <input class="tinyWidth" type="number" ng-model="attraction.durationHours" min="0" max="99" />&nbsp;h,&nbsp;
                    <input class="tinyWidth" type="number" ng-model="attraction.durationMinutes" min="0" max="59"/>&nbsp;m
                </td>
            </tr>
        </table>
    </div>
</div>
