<div ng-controller="EnergyEventDialogCtrl">
    <div class="left">
    	<table>
            <tr>
                <td colspan="2" class="top"><b>Event-ID:</b></td>
            </tr><tr>
                <td colspan="2" class="top">{{energyEvent.id}}</td>
            </tr>
    		<tr>
    			<td class="top"><b>Position:</b></td>
    			<td class="top">[{{energyEvent.latitude.toFixed(6)}}, {{energyEvent.longitude.toFixed(6)}}]</td>
    		</tr>
            <tr>
                <td><b>Start:</b></td>
                <td>{{energyEvent.startTimestamp|date:'dd.MM.yyyy @ H:mm:ss'}}</td>
            </tr>
            <tr>
                <td><b>End:</b></td>   
                <td>{{(energyEvent.startTimestamp+energyEvent.durationMillis)|date:'dd.MM.yyyy @ H:mm:ss'}}</td>
            </tr>
            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr>
                <td class="top"><b>Ratio [m]:</b></td>
                <td class="top">
                    <input type="number" min="1" max="100000" ng-model="energyEvent.ratio" />
                </td>
            </tr>
            <tr>
                <td class="top"><b>Value [%]:</b></td>
                <td>
                    <input type="number" min="1" max="100000" ng-model="energyEvent.value" />
                </td>
            </tr>
            <tr>
               <td><b>Duration:</b></td>
               <td>
                    <input class="veryTinyWidth" type="number" ng-model="energyEvent.durationHours" min="0" max="10000" />&nbsp;hours,&nbsp;
                    <input class="veryTinyWidth" type="number" ng-model="energyEvent.durationMinutes" min="0" max="59"/>&nbsp;minutes
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <b>Start:</b>
                </td>
            </tr>
            <tr>
                <td>
                    <div datepicker ng-model="energyEvent.startDate" type="text" class="start"></div>
                </td>
            </tr>
            <tr>
                <td><b>Time:</b>&nbsp;
                    <input class="tinyWidth" type="number" ng-model="energyEvent.startHours" min="0" max="23" />&nbsp;h&nbsp;
                    :&nbsp;
                    <input class="tinyWidth" type="number" ng-model="energyEvent.startMinutes" min="0" max="59" />&nbsp;m
                </td>
            </tr>
        </table>
    </div>
</div>
