<div ng-controller="StreetBlockDialogCtrl">
    <div class="left">
    <table>
        <tr>
            <td colspan="2" class="top"><b>Event-ID:</b></td>
        </tr><tr>
            <td colspan="2" class="top">{{streetBlock.id}}</td>
        </tr>
        <tr>
            <td class="top"><b>Position:</b></td>
            <td class="top">[{{streetBlock.latitude.toFixed(6)}}, {{streetBlock.longitude.toFixed(6)}}]</td>
        </tr>
        <tr>
            <td><b>Start:</b></td>
            <td>{{streetBlock.startTimestamp|date:'dd.MM.yyyy @ H:mm:ss'}}</td>
        </tr>
        <tr>
            <td><b>End:</b></td>   
            <td>{{(streetBlock.startTimestamp+streetBlock.durationMillis)|date:'dd.MM.yyyy @ H:mm:ss'}}</td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td class="top"><b>Duration:</b></td>
            <td class="top">
            <input class="veryTinyWidth" type="number" ng-model="streetBlock.durationHours" min="0" max="10000" />&nbsp;hours,&nbsp;
            <input class="veryTinyWidth" type="number" ng-model="streetBlock.durationMinutes" min="0" max="59"/>&nbsp;minutes</td>
        </tr>
    </table>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <b>Start:</b>
                </td>
            </tr>
            <tr>
                <td>
                    <div datepicker ng-model="streetBlock.startDate" type="text" class="start"></div>
                </td>
            </tr>
            <tr>
                <td>Time:&nbsp;
                    <input class="tinyWidth" type="number" ng-model="streetBlock.startHours" min="0" max="23" />h&nbsp;
                    :&nbsp;
                    <input class="tinyWidth" type="number" ng-model="streetBlock.startMinutes" min="0" max="59" />m&nbsp;
                </td>
            </tr>
        </table>
    </div>
</div>
