<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Simulation Control Center</title>
		<meta name="author" content="Dennis Höting"></meta>
		
		<!-- Styles -->
<!--		<link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css//olStyle.css">
		<link rel="stylesheet" href="lib/jquery.ui/jquery-ui.css" />
		<link rel="stylesheet" href="lib/jquery.ui/custom-theme/jquery-ui-1.8.23.custom.css" />
        <link rel="stylesheet" href="lib/jquery.treeview/jquery.treeview.css" />
		
		 Libraries 
        <script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>  
		
		<script type="text/javascript" src="lib/jquery/jquery-1.8.3.js"></script>
		<script type="text/javascript" src="lib/jquery.ui/jquery-ui-1.9.2.custom.min.js"></script>
		<script type="text/javascript" src="lib/jquery/jquery.json-2.3.min.js"></script>
        <script type="text/javascript" src="lib/date.format/date.format.js"></script>
        <script type="text/javascript" src="lib/jquery.treeview/jquery.treeview.js"></script>
        <script type="text/javascript" src="lib/angular/angular.js"></script>
		
		 Own Scripts 
        <script type="text/javascript" src="js/global.js"></script>
        <script type="text/javascript" src="js/util.js"></script>
        <script type="text/javascript" src="js/model/enums.js"></script>
        <script type="text/javascript" src="js/model/communicationObjects/JAVA_messageObjects.js"></script>
        <script type="text/javascript" src="js/model/communicationObjects/JAVA_eventObjects.js"></script>
        <script type="text/javascript" src="js/model/markerObjects.js"></script>
        <script type="text/javascript" src="js/model/sensorObjects.js"></script>
        <script type="text/javascript" src="js/model/eventObjects.js"></script>
        <script type="text/javascript" src="js/model/JAVA_sensorHelperObjects.js"></script>
        <script type="text/javascript" src="js/model/JAVA_utilityObjects.js"></script>
        <script type="text/javascript" src="js/modules/filters.js"></script>
        <script type="text/javascript" src="js/modules/directives.js"></script>
        <script type="text/javascript" src="js/modules/services/callbackServices.js"></script>
        <script type="text/javascript" src="js/modules/services/consoleServices.js"></script>
        <script type="text/javascript" src="js/modules/services/idServices.js"></script>
        <script type="text/javascript" src="js/modules/services/mapServices.js"></script>
        <script type="text/javascript" src="js/modules/services/popupServices.js"></script>
        <script type="text/javascript" src="js/modules/services/servletCommunicationServices.js"></script>
        <script type="text/javascript" src="js/modules/modules.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/attractionDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/confirmationDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/consoleDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/settingsDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/energyEventDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/initialDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/linkDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/messageDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/pathDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/sensorDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/smartMeterDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/streetBlockDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/unsentMessagesDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/dialogCtrl/uncommitedEventsDialogCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/initialState/busSystemCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/initialState/cityCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/initialState/generalCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/initialState/infrastructureCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/initialState/interactionCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/initialState/startCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/initialState/weatherCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/runtimeState/commitCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/runtimeState/overviewCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/runtimeState/randomVehiclesCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/runtimeState/statusCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/runtimeState/weatherEventsCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/contentCtrl/emptyContentCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/navigationCtrl/initialNavCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/navigationCtrl/runtimeNavCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/headCtrl.js"></script>
        <script type="text/javascript" src="js/ctrl/mainCtrl.js"></script>  -->
	</h:head>
	<!-- 
		MainView using MainCtrl
		The MainCtrl's scope encapsulates all controller's scopes.
		-->
<!--	<h:body ng-controller="MainCtrl">
		 IconDiv, will be appended to cursor when pushing sensor to map 
		<div id="icon_div"></div>
		 Actual web site 
		<div id="div_all" ng-hide="accessDenied">
			 Header 
			<div id="div_top" ng-controller="HeadCtrl">
                <img src="img/wrench.png" id="wrenchImg" ng-click="openSettings()" />
			    <img src="img/console.png" id="consoleImg" ng-click="openConsole()" />
			    <div id="layout_top">
                    <span>Connection: <span class="{{connection.connectionStateColor()}}">{{connection.connectionState}}</span></span>
                    <span>Simulation: <span class="{{simulation.simulationStateColor()}}">{{simulation.simulationState}}</span></span>
                    <span>Simulation Time: {{simulation.simulationTime | date:'dd.MM.yyyy @ H:mm:ss'}}</span>
                    <span>OSM: <span class="{{osm.osmParsedStateColor()}}">{{osm.osmParsedState}}</span></span>
                    <span ng-show="keypressMockEnabled">Keypress-Mock enabled</span>
                </div>
                <div id="loadingArea" ng-class="loadingStatus"></div>
                <div id="div_logo">
                    <img src="img/logo.png" ng-click="km()"/>
                </div>
                <div id="div_heading">
                    <div id="headline">Simulation Control Center</div>
                    <div id="runtimePopups" ng-show="ui.state == 'runtime'">
                        <input type="button" button value="Show unsent messages ({{unsentMessages.length}})" ng-click="openUnsentMessagesDialog()" />
                        <input type="button" button value="Show event list ({{uncommittedEvents.length}})" ng-click="openUncommitedEventsDialog()" />
                    </div>
                </div>
                
			</div>
			
			 Navigation 
			<div id="div_navigation" >
				<ng:include src="navigationURL"></ng:include>
			</div>
			 Content 
			<div id="div_content">
				<ng:include src="contentURL"></ng:include>
			</div>
            <div id="div_map">
                <div id="map" class="contentDiv"><h3><i>Simulation not initialized yet.</i></h3></div>
            </div>
		</div>
	</h:body>-->
	<h:body>
		<div>fdsakjlf1</div>
			<h:form>  
                              
    
        <h:outputLabel value="Name:" />  
		
			</h:form>
<!--		<p:dialog id="basicDialog" header="Basic Dialog" widgetVar="dlg1">  
			<h:selectOneListbox>
				<f:selectItems
						 value="#{startParameter.ipSimulationController}"/>
			</h:selectOneListbox>  
			<h:outputText value="#{startParameter.ipSimulationController}" />  
		</p:dialog>  -->
	</h:body>
</html>