<div ng-controller="UnsentMessagesDialogCtrl" class="messageDialog">
    <div class="block scrollable left" id="eventList">
        <table>
            <tr class="head">
                <td colspan="3"><h3>Message list</h3></td>
            </tr>
            <tr ng-repeat="(i, message) in unsentMessages">
                <td>{{i}}</td>
                <td class="fullWidth">
                    <div object-view ng-model="message"></div>
                </td>
                <td><div class="deleteImage" ng-click="deleteMessage(i)"></div></td>
            </tr>
        </table>
    </div>
    <div class="block">
        <table>
            <tr class="head">
                <td><h3>Send messages</h3></td>
            </tr>
            <tr>
                <td>
                    <input class="fullWidth" type="button" button value="Send now" ng-click="send()" />
                </td>
            </tr>
        </table>
    </div>
</div>