<div ng-controller="SensorDialogCtrl">
	<table>
		<tr>
			<td class="top">Type</td>
			<td class="top">{{sensorInFocus.className}}</td>
		</tr>
		<tr>
			<td class="top">ID</td>
			<td class="top">{{sensorInFocus.id}}</td>
		</tr>
		<tr>
			<td class="top">Position</td>
			<td class="top">[{{sensorInFocus.latitude.toFixed(6)}},
				{{sensorInFocus.longitude.toFixed(6)}}]</td>
		</tr>
		<tr>
			<td class="top">Update steps</td>
			<td class="top"><input type="number" min="1" max="50"
				ng-model="sensorInFocus.updateSteps" />
				<button button
					ng-disabled="isStandard(sensorInFocus.type, sensorInFocus.updateSteps)"
					ng-click="makeStandard(sensorInFocus.type, sensorInFocus.updateSteps)">Make
					standard</button></td>
		</tr>
		<tr>
			<td>Corresponds</td>
			<td>{{sensorInFocus.updateSteps*startParameter.interval}} ms</td>
		</tr>
	</table>
</div>
